@charset "UTF-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
	letter-spacing:6px;
	image-rendering: pixelated;
	font-smooth: never;
	-webkit-font-smoothing: none;
	/*-moz-osx-font-smoothing: grayscale;
	*/
	
	}
	
body {
 	background-image:url("xd4.gif");
	background-color:#d2738a;
	color:#c1b492;	
	

	
	}
	
a {
	text-decoration:none;
	
	}
	
a:link {
	color:#7d19ff;
	}
	
a:hover {
	color:#c1b492;
	animation: wiredB2 1s ease-out infinite;

	}
	
a:active {
	color:#d2738a;
	}

#navbar {
	background-color:#00000000;
	background-image:url("bg-rip-02.gif");
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	padding-top:40px;
	
	}
	
h1 {
	font-size:20px;
	font-family:Times, "Times New Roman", serif;
	font-weight:normal;
	clear:both;
	}
	
h6 {
	font-size:9px;
	
	}

	
.copy {
	font-size:11px;
	
	}

	
.logo {
	margin:20px;
	width: 109px;
	height: 84px;
	
	
	}
	
#navline {
	font-size:13px;
	letter-spacing:1px;
	margin-bottom:20px;
	
	}
	
.navline {
	font-size:8px;
	letter-spacing:1px;
	margin-bottom:20px;
	
	}
		
	
.blinkFrame {
	display:inline-block;
	float:left;
	width:400px;
	font-weight:bolder;

	
	}
	
	
hr {
	
	border-color:#d400ff;
	border-bottom-width:2px;
	
	
	
	}

	
	
h5 {
	font-weight:normal;
	}
	
b {
	color:#d2738a;
	font-weight:normal;
	
	}
	
	
@keyframes blink {
  50% {
	  color:black;
  }
 }
 
 @keyframes wiredB {
  50% {
	  color:#c1b492;
	  text-shadow:#d2738a 1px 4px 5px;
	  }
 }
 
 @keyframes wiredB2 {
  50% {
	  color:#c1b492;
	  text-shadow:#c1b492 1px 1px 6px;
	  }
 }



/* thx fauux */